# Matlab backup files #
########################
*.asv
*.mat
*.fig
*.png
*.epsc
*.bak
*.m~
*.log
./Probability/20120525-TrainingData
./Probability/20120525-TrainingData/Backup
./Probability/BackUp/
#snapVerification.m#
